name: ci

on:
  push:
    paths-ignore:
      - 'README.md'
    tags-ignore:
      - "v[0-9]+.[0-9]+.[0-9]+"
    branches:
      - "*"
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    paths-ignore:
      - 'README.md'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.21
        id: go
      - name: Cache
        uses: actions/cache@v3
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Unshallow
        run: git fetch --prune --unshallow --tags
      - name: build
        run: make build
      - name: test
        run: make test_view
      - name: Archive code coverage results
        uses: actions/upload-artifact@v4
        with:
          name: code-coverage-report
          path: cover.html
